// Specific CSS for your home-page

body {
  background-color: #1d2541;
}

h1 {
  font-family: 'Quicksand', sans-serif;
  font-size: 3em !important;
  color: #d8dffd;
}

h2 {
  font-family: 'Quicksand', sans-serif;
  font-size: 2em !important;
  color: #d8dffd;

}

h3 {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.5em;
  color: #d8dffd;
}

p {
  color: #d8dffd;
  font-family: 'Lato', sans-serif;

  a {
    color: #d8dffd;
    text-decoration: none !important;
  }
}

li {
  color: #d8dffd;
  font-family: 'Lato', sans-serif;

  a {
    color: #d8dffd;
    text-decoration: none !important;
  }
}

ul {
    list-style-type: none;
}

textarea {
  margin-right: 3em;
  border-radius: 10px !important;
  width: 25em;
}

label {
  color: #d8dffd;
  font-family: 'Lato', sans-serif;
}

.space-between {
  justify-content: space-between;
}

.principal-content {
}

