// Specific CSS for your home-page

.circle {
  width: fluid;
  height: fluid;
  background: linear-gradient(to bottom right, blue, red);
  border-radius: 50%;
  max-width: 21em;
  margin: 0px auto;
}

.rocket p {
  font-family: 'Merienda One', cursive;
  text-align: center;
  font-size: 4em;
}

body {
  background-color: #1d2541;

}

.background {
  background-image: url("https://res.cloudinary.com/jackycloud44/image/upload/v1607353428/Rocket-vector-02-HQ_jdb2rm.jpg");
  background-position: 8% 6%;
  background-repeat: no-repeat;
  height: 100vh;
}

h1 {
  font-family: 'Quicksand', sans-serif;
  font-size: 3em !important;
  color: #d8dffd;
}

h2 {
  font-family: 'Quicksand', sans-serif;
  font-size: 2em !important;
  color: #d8dffd;

}

h3 {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.5em;
  color: #d8dffd;
}

p {
  color: #d8dffd;
  font-family: 'Lato', sans-serif;

  a {
    color: #d8dffd;
    text-decoration: none !important;
  }
}

li {
  color: #d8dffd;
  font-family: 'Lato', sans-serif;

  a {
    color: #d8dffd;
    text-decoration: none !important;
  }
}

ul {
    list-style-type: none;
}

textarea {
  margin-right: 3em;
  border-radius: 10px !important;
  width: 25em;
}

label {
  color: #d8dffd;
  font-family: 'Lato', sans-serif;
}

.space-between {
  justify-content: space-between;
}

.principal-content {
}

.centrage-texte {
  text-align: center;
}
