<body>
  <div class="container">
    <div class="d-flex space-between">
      <div>
        <h1></h1>
        <p></p>
      </div>
      <div>
        <a href=""></a>
        <a href=""></a>
      </div>
    </div>
    <div>
      <h2></h2>
      <input type="">
      <input type=""></div>
  </div>
</body>
