
  <div class="background">
    <div class="container pt-5">
      <div class="row">
        <div class="col-sm-6 d-flex align-items-center">
          <div>
            <h1 class="mb-3">Learn faster than ever !</h1>
            <p class="mb-3" style="text-align: justify">Nam quibusdam, quos audio sapientes habitos in Graecia, placuisse opinor mirabilia quaedam (sed nihil est quod illi non persequantur argutiis).</br></br>
              Nam quibusdam, quos audio sapientes habitos in Graecia, placuisse opinor mirabilia quaedam (sed nihil est quod illi non persequantur argutiis).
            </p>
            <div class="mt-5" style="text-align: center">
              <%= link_to "S'identifier", dashboard_path, class: "button-home" %>
              <%= link_to "Créer un compte", new_user_registration_path, class: "button-home ml-2" %>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="circle mt-5">
            <a href="https://imgbb.com/"><img class="img-fluid" src="https://i.ibb.co/sVTSdsv/sky-rocket-illustration-by-Vexels.png" alt="sky-rocket-illustration-by-Vexels" border="0"></a>
          </div>
          <div class="rocket">
            <p><strong>Rocket</strong></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
