<div class="background">
  <div class="container pt-5">
    <div class="row">
      <div class="col-sm-6 d-flex align-items-center">
        <div class="home-text">
          <h1 class="mb-4">Apprenez vos cours plus rapidement et plus efficacement.</h1>
          <p class="mb-3 text-large text-justify">Fini les longues fiches de révision, dites bonjour à Rocket et son système d'apprentissage par cartes mentales.
          </p>
          <div class="mt-5 text-center">
            <%= link_to "Accéder à Rocket", dashboard_path, class: "button-home" %>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="circle mt-5">
          <!-- <img class="img-fluid" src="../../assets/images/rocketlogo.png" alt="sky-rocket" border="0"> -->
          <%= image_tag("rocketlogo.png", class: "img-fluid", alt: "sky-rocket") %>
        </div>
        <div class="rocket">
          <p><strong>Rocket</strong></p>
        </div>
      </div>
    </div>
  </div>
</div>
