
<div class="container">


  <h1><%= @room.subject.name  %></h1>
   <%= simple_form_for [@room, @chapter] do |f| %>
   <div class="d-flex block">
    <div class="create-input">
      <%= f.input :name, label: 'Nom', placeholder: 'Exemple : La 2nde Guerre Mondiale',class: "form-control" %>
      <%= f.button :submit, 'Enregistrer', class: "validate-button" %>
      </div>

   </div>
   <% end %>
</div>


