.sidebar {
  position: fixed;
  background-color: #222b4a;
  border-right: 1px solid #d8dffd;
  width: 200px;
  height: 100%;
  padding-top: 1em;
  box-shadow: 5px 0px 10px 5px rgba(0, 0, 0, 0.15);
}

.sidebar *:hover {
  color: #d8dffd;
  text-decoration: none !important;
}

.sidebar a {
  color: #d8dffd;
  text-decoration: none !important;
}

