<div class="row">
  <div class="col-md-2">
    <div class="sidebar">
      <%= render 'shared/sidebar' %>
    </div>
  </div>
  <div class="col-md-10 principal-content">
    <% link_to chapter_path(@chapter) do %>
      <p> < <%= @chapter.name %></p>
    <% end %>

    <h1><%= @mission.name %></h1>
  </div>
</div>


